
<div class="row">
  <div class="col-6 d-flex align-items-center">
    <h1>Pokemon Data</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
      <% if (page !== '/pokedex') { %>
    <form action="/pokedex/<%= pokemon.indexOf(pokemonId) %>?_method=DELETE" method="POST">
      <input class="data-button" type="submit" value="Delete" />
    </form>
    <form action="/pokedex/<%= pokemon.indexOf(pokemonId) %>/edit">
      <input class="data-button" type="submit" value="Edit" />
    </form>
    <% } %>
  </div>
</div>
<hr />
<table class="data-table" width="100%">
  <tr>
    <th>Id: </th>
    <td>
      <%= pokemonId.id %>
    </td>
  </tr>
  <tr>
    <th>Name:</th>
    <td>
      <%= pokemonId.name %>
    </td>
  </tr>
  <tr>
    <th>Type:</th>
    <td>
      <%= pokemonId.type %>
    </td>
  </tr>
  <tr>
    <th valign="top">Stats:</th>
    <td class="stat-table">
      <table align="right">
        <tr>
          <td class="padding-right">HP: </td>
          <td class="padding-right"><%= pokemonStats.hp %></td>
          <td class="padding-right">ATK: </td>
          <td><%= pokemonStats.attack %></td>
        </tr>
        <tr>
          <td class="padding-right">DEF: </td>
          <td class="padding-right"><%= pokemonStats.defense %></td>
          <td class="padding-right">SPATK: </td>
          <td><%= pokemonStats.spattack %></td>
        </tr>
        <tr>
          <td class="padding-right">SPDEF: </td>
          <td class="padding-right"><%= pokemonStats.spdefense %></td>
          <td class="padding-right">SPD: </td>
          <td><%= pokemonStats.speed %></td>
        </tr>
      </table>
    </td>
  </tr>

</table>
<div class="row img">
  <div class="col text-center">
    <img class="img-fluid" src="<%= pokemonId.img %>" />
  </div>
</div>
